doctype html
html
  head
    title Your Website Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    style(src="./stylesheets/style.css")
    style.
      .navbar-custom {
        background-color: #2a292b;
        font-size: 1.2em;
      }
      .navbar-custom .navbar-nav .nav-item .nav-link {
        color: #0099cc;
      }
      .navbar-custom .navbar-brand, .navbar-custom .navbar-text {
        color: #0099cc;
      }
      .cart-badge {
        top: -8px;
        right: -8px;
        background-color: #000;
        color: white;
        border-radius: 50%;
        padding: 0 5px;
        font-size: 0.7em;
        line-height: 1.6;
      }
      .search-box {
        flex-grow: 1;
        margin: 0 15px;
      }
      .carousel {
        margin-top: 20px;
      }
      .carousel-inner img {
        width: 100%;
        height: 300px;
      }
      .carousel-caption {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
      }
      .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: #000;
      }
      .dropdown-menu-custom {
        background-color: #d4d4d5;
        color: white;
        border: none;
      }
      .nav-secondary {
        background-color: #d4d4d5;
        font-size: 0.9em;
        display: flex;
        justify-content: center;
      }
      .nav-secondary .nav-link {
        color: #000;
        padding: 0.5rem 1rem;
      }
      .nav-secondary .nav-item:hover .dropdown-menu {
        display: block;
      }
      .nav-secondary .dropdown-menu a:hover {
        background-color: #94eb88;
        color: white;
      }
      .burger {
        width: 35px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
      .burger span {
        width: 35px;
        height: 3px;
        background-color: #0099cc;
        display: block;
        border-radius: 20px;
        opacity: 1;
        transform: translate(0) rotate(0);
        transform: ;
        transition: all 0.3s linear;
      }

      .burger span:nth-child(4) {
        position: absolute;
        top: calc(50% - 1.5px);
      }

      .burger:not(.collapsed) span:nth-child(1) {
        transform: translateY(9px);
        opacity: 0;
      }

      .burger:not(.collapsed) span:nth-child(2) {
        transform: rotate(-45deg);
      }

      .burger:not(.collapsed) span:nth-child(3) {
        transform: translateY(-9px);
        opacity: 0;
      }

      .burger:not(.collapsed) span:nth-child(4) {
        transform: rotate(45deg);
      }
  body
    nav.navbar.navbar-expand-lg.navbar-custom
      .container
        a(href='/todo', style='display: block; height: 80px; width: 124px;')
            img(src='/images/logo.png', alt='Your Brand', style='height: 100%; width: 100%;')
        .burger.d-lg-none.collapsed(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span 
          span 
          span 
          span 
        #navbarResponsive.collapse.navbar-collapse
          .mx-auto.d-lg-flex.justify-content-center
            form.form-inline.my-2.my-lg-0.justify-content-center.justify-content-sm-start(action='/search', method='get')
              input#searchInput.form-control.mr-sm-2(type='search', name='q' placeholder='Search', aria-label='Search')
              button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
              div#searchResults.dropdown-menu
          ul.navbar-nav.flex-row.justify-content-center.justify-content-sm-start
            li.nav-item.px-2
              a.nav-link(href='/profile')
                i.fas.fa-user.fa-lg
            li.nav-item.px-2
              a.nav-link(href='/favorites')
                i.fas.fa-heart.fa-lg
            li.nav-item.px-2
              a.nav-link(href='/todo/cart')
                i.fas.fa-shopping-cart.fa-lg
                //- span.cart-badge #{cart.length}
    nav.nav-secondary
      .container
        ul.nav.justify-content-center
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ПРОТЕИНИ
            .dropdown-menu.dropdown-menu-custom
              a.dropdown-item(href='#') Суроватъчни протеини
              a.dropdown-item(href='#') Растителни БИО протеини
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ВИТАМИНИ И МИНЕРАЛИ
            .dropdown-menu.dropdown-menu-custom
              a.dropdown-item(href='#') ВИТАМИНИ ЗА КОСА, КОЖА И НОКТИ
              a.dropdown-item(href='#') КАЛЦИИ, МАГНЕЗИИ, ЦИНК
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ФИТНЕС И БИО ХРАНИ
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') АМИНОКИСЕЛИНИ
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ИЗГАРЯНЕ НА МАЗНИНИ
    .container.mt-4
      h1 Любими продукти
      if favorites.length > 0
        .row
          each fav in favorites
             .col-lg-24.mb-4(class="col-md-3 col-sm-4 col-xs-6")
              .card
                img.card-img-top(src=fav.img alt=fav.name)
                .card-body
                  h5.card-title #{fav.name}
                  p.card-text #{fav.description}
                  p.card-text Цена: #{fav.price.toFixed(2)}лв
                  form(action='/todo/add-to-cart', method='post', style='display: inline-block;')
                    input(type='hidden', name='id', value=fav.id)
                    button.btn.btn-primary(type='submit') Прибави към количката
                  form(action='/remove-from-favorites/' + fav.id method='post')
                    input(type='hidden', name='id', value=fav.id)
                    button.btn.btn-danger(type='submit') Премахни от любими

      else
        p No favorites added yet.

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='../javascript/todo2.js')
    script(src='../javascript/swiperInit.js')
    // Place this at the bottom of your `favorites.pug` file, inside the body tag
//- script.
//-   document.addEventListener('DOMContentLoaded', (event) => {
//-     const removeButtons = document.querySelectorAll('button[type="submit"]');
//-     removeButtons.forEach(button => {
//-       button.addEventListener('click', function(event) {
//-         if (!confirm('Are you sure you want to remove this item from favorites?')) {
//-           event.preventDefault(); // If the user cancels, prevent the form from submitting
//-         }
//-       });
//-     });
//-   });
