doctype html
html
    head
        title Your Website Title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        style.
            .navbar-custom {
                background-color: #2a292b;
                font-size: 1.2em;
            }
            .navbar-custom .navbar-nav .nav-item .nav-link {
                color: #0099cc;
            }
            .navbar-custom .navbar-brand, .navbar-custom .navbar-text {
                color: #0099cc;
            }
            .cart-badge {
                top: -8px;
                right: -8px;
                background-color: #000;
                color: white;
                border-radius: 50%;
                padding: 0 5px;
                font-size: 0.7em;
                line-height: 1.6;
            }
            .search-box {
                flex-grow: 1;
                margin: 0 15px;
            }
            .carousel {
                margin-top: 20px;
            }
            .carousel-inner img {
                width: 100%;
                height: 300px;
            }
            .carousel-caption {
                background: rgba(0, 0, 0, 0.5);
                padding: 10px;
            }
            .carousel-control-prev-icon, .carousel-control-next-icon {
                background-color: #000;
            }
            .dropdown-menu-custom {
                background-color: #d4d4d5;
                color: white;
                border: none;
            }
            .nav-secondary {
                background-color: #d4d4d5;
                font-size: 0.9em;
                display: flex;
                justify-content: center;
            }
            .nav-secondary .nav-link {
                color: #000;
                padding: 0.5rem 1rem;
            }
            .nav-secondary .nav-item:hover .dropdown-menu {
                display: block;
            }
            .nav-secondary .dropdown-menu a:hover {
                background-color: #94eb88;
                color: white;
            }
    body
        nav.navbar.navbar-expand-lg.navbar-custom
            .container
                a(href='/todo', style='display: block; height: 80px; width: 150px;')
                    img(src='/images/logo.png', alt='Your Brand', style='height: 100%; width: 100%;')
                .mx-auto.d-flex.justify-content-center
                    form.form-inline(action='/search', method='get')
                        input#searchInput.form-control.mr-sm-2(type='search', name='q', style='width: 450px; height: 50px;', placeholder='Търси продукти', aria-label='Search')
                        button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
                        div#searchResults.dropdown-menu(style='position: absolute; width: 100%;')
                div
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/profile')
                                i.fas.fa-user.fa-lg
                        li.nav-item
                            a.nav-link(href='/favorites')
                                i.fas.fa-heart.fa-lg
                        li.nav-item
                            a.nav-link(href='/todo/cart')
                                i.fas.fa-shopping-cart.fa-lg
                                //- span.cart-badge #{cart.length}
        nav.nav-secondary
            .container
                ul.nav.justify-content-center
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ПРОТЕИНИ
                        .dropdown-menu.dropdown-menu-custom
                            a.dropdown-item(href='#') Суроватъчни протеини
                            a.dropdown-item(href='#') Растителни БИО протеини
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ВИТАМИНИ И МИНЕРАЛИ
                        .dropdown-menu.dropdown-menu-custom
                            a.dropdown-item(href='#') ВИТАМИНИ ЗА КОСА, КОЖА И НОКТИ
                            a.dropdown-item(href='#') КАЛЦИИ, МАГНЕЗИИ, ЦИНК
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ФИТНЕС И БИО ХРАНИ
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') АМИНОКИСЕЛИНИ
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ИЗГАРЯНЕ НА МАЗНИНИ
        .container.product-details.mt-4
            .row
                .col-md-5
                    img(src=product.img alt=product.name class='img-thumbnail')
                .col-md-7
                    h2 #{product.name}
                    .rating-bar.js-rating-bar
                        span.fa.fa-star
                        span.fa.fa-star
                        span.fa.fa-star
                        span.fa.fa-star
                        span.fa.fa-star
                    a(href='#collapseWriteReview' role='button' class='write-review') Напиши мнение
                    h3.product-price #{product.price} лв.
                    p.free-delivery БЕЗПЛАТНА ДОСТАВКА И ПОДАРЪК
                    p.available Наличност: 
                        span.text-success #{product.availability ? 'Наличен' : 'Не е наличен'}
                    p.brand Производител: 
                        span #{product.brand}
                    p.code Описание: 
                        span #{product.description}
                    p.category Категория: 
                        span #{product.category}
                    //- Flavor selection if applicable
                    form(action='/todo/add-to-cart', method='post')
                        input(type='hidden', name='id', value=product.id)
                        select.custom-select.mb-3
                            option(value="") Изберете Вкус
                            each flavor in product.flavors
                                option(value = flavor)= flavor
                        .quantity-selector.d-inline-block
                            input(type='number' value='1' min='1' class='form-control d-inline-block')
                        //- tuka bugna i ne iska da dobavq kum kolichkata form(action='/todo/add-to-cart', method='post', style='display: inline-block;')
                        //- input(type='hidden', name='id', value=fav.id)
                        //- button.btn.btn-primary(type='submit') Прибави към количката
                        button.btn.btn-primary.mr-2(type='submit') КУПИ

                    form(action='/favorites/add', method='post')
                        input(type='hidden', name='id', value=product.id)
                        button.btn.btn-outline-primary(type='submit')
                            i.fas.fa-heart
        .container.mt-4
            #accordion
                .card.mb-3
                    .card-header(type='button' data-toggle='collapse' data-target='#collapseWriteReview')
                        h5.mb-0
                            .btn.btn-link
                                | Напишете мнение
                    #collapseWriteReview.collapse
                        .card-body
                            form(method='post', action='/reviews/submit-review')
                                input(type='hidden', name='productId', value=product.id)
                                .form-group
                                    label(for='name') Вашето име
                                    input#name.form-control(type='text', name='name', required)
                                .form-group
                                    label(for='review') Вашето мнение
                                    textarea#review.form-control(name='review', required)
                                .form-group
                                    label Рейтинг
                                    .rating.d-flex
                                        - for (var i = 1; i <= 5; i++)
                                            .d-flex.flex-column.justify-content-center.align-items-center
                                                label.d-block.mb-0(for=`rating-${i}`)
                                                    i.fas.fa-star
                                                input(type='radio', id=`rating-${i}`, name='rating', value=`${i}`, required)
                                button.btn.btn-primary(type='submit') Изпрати
                .card.mb-3  
                    .card-header(type='button' data-toggle='collapse' data-target='#collapseReviews')
                        h5.mb-0
                            button.btn.btn-link
                                | МНЕНИЯ
                    #collapseReviews.collapse
                        .card-body
                            if product.reviews && product.reviews.length > 0
                                each review in product.reviews
                                    .review.mb-3
                                        .review-header.d-flex.justify-content-between
                                            h5.review-author #{review.author}
                                            span.review-date #{review.rating}
                                        p.review-content #{review.comment}
                                        //- Logic to display stars based on rating
                                        .review-rating
                                            - var fullStars = Math.floor(review.rating)
                                            - var emptyStars = 5 - fullStars
                                            while fullStars > 0
                                                i.fas.fa-star.checked
                                                - fullStars--
                                            while emptyStars > 0
                                                i.far.fa-star
                                                - emptyStars--

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
        script(src='../javascript/todo2.js')
        script(src='../javascript/swiperInit.js')
          
        //- Script to handle the review link click event
        script.
            document.addEventListener('DOMContentLoaded', () => {
                const writeReviewLink = document.querySelector('.write-review');
                const reviewsLink = document.querySelector('.js-rating-bar');
                writeReviewLink.addEventListener('click', function(e) {
                    e.preventDefault();
                    const reviewFormAccordion = document.getElementById('collapseWriteReview');
                    reviewFormAccordion.classList.add('show'); // Bootstrap 4 with jQuery
                    reviewFormAccordion.scrollIntoView({ behavior: 'smooth', block: 'start' });
                });

                reviewsLink.addEventListener('click', function(e) {
                    e.preventDefault();
                    const reviewsAccordion = document.getElementById('collapseReviews');
                    reviewsAccordion.classList.add('show'); // Bootstrap 4 with jQuery
                    reviewsAccordion.scrollIntoView({ behavior: 'smooth', block: 'start' });
                });
            });