doctype html
html
  head
    title Your Website Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    style.
      .navbar-custom {
        background-color: #2a292b;
        font-size: 1.2em;
      }
      .navbar-custom .navbar-nav .nav-item .nav-link, .navbar-custom .navbar-brand, .navbar-custom .navbar-text {
        color: #0099cc;
      }
      .cart-badge {
        top: -8px;
        right: -8px;
        background-color: #000;
        color: white;
        border-radius: 50%;
        padding: 0 5px;
        font-size: 0.7em;
        line-height: 1.6;
      }
      .search-box {
        flex-grow: 1;
        margin: 0 15px;
      }
      .carousel-inner img {
        width: 100%;
        height: auto; /* Makes carousel images responsive */
      }
      .dropdown-menu-custom {
        background-color: #d4d4d5;
        color: white;
        border: none;
      }
      .nav-secondary {
        background-color: #d4d4d5;
        font-size: 0.9em;
        display: flex;
        justify-content: center;
      }
      .nav-secondary .nav-link {
        color: #000;
        padding: 0.5rem 1rem;
      }
      .nav-secondary .nav-item:hover .dropdown-menu, .nav-secondary .dropdown-menu a:hover {
        background-color: #94eb88;
        color: white;
      }
      .burger {
        width: 35px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
      .burger span {
        width: 35px;
        height: 3px;
        background-color: #0099cc;
        display: block;
        border-radius: 20px;
        opacity: 1;
        transform: translate(0) rotate(0);
        transform: ;
        transition: all 0.3s linear;
      }

      .burger span:nth-child(4) {
        position: absolute;
        top: calc(50% - 1.5px);
      }

      .burger:not(.collapsed) span:nth-child(1) {
        transform: translateY(9px);
        opacity: 0;
      }

      .burger:not(.collapsed) span:nth-child(2) {
        transform: rotate(-45deg);
      }

      .burger:not(.collapsed) span:nth-child(3) {
        transform: translateY(-9px);
        opacity: 0;
      }

      .burger:not(.collapsed) span:nth-child(4) {
        transform: rotate(45deg);
      }
  body
    nav.navbar.navbar-expand-lg.navbar-custom
      .container
        a(href='/todo', style='display: block; height: 80px; width: 124px;')
            img(src='/images/logo.png', alt='Your Brand', style='height: 100%; width: 100%;')
        .burger.d-lg-none.collapsed(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span 
          span 
          span 
          span 
        #navbarResponsive.collapse.navbar-collapse
          .mx-auto.d-lg-flex.justify-content-center
            form.form-inline.my-2.my-lg-0.justify-content-center.justify-content-sm-start.position-relative(action='/search', method='get')
              input#searchInput.form-control.mr-sm-2.col-8(type='search', name='q' placeholder='Search', aria-label='Search')
              button.btn.btn-outline-primary.my-2.my-sm-0.col(type='submit') Search
              div#searchResults.dropdown-menu.col-8
          ul.navbar-nav.flex-row.justify-content-center.justify-content-sm-start
            li.nav-item.px-2
              a.nav-link(href='/profile')
                i.fas.fa-user.fa-lg
            li.nav-item.px-2
              a.nav-link(href='/favorites')
                i.fas.fa-heart.fa-lg
            li.nav-item.px-2
              a.nav-link(href='/todo/cart')
                i.fas.fa-shopping-cart.fa-lg
                //- span.cart-badge #{cart.length}
    nav.nav-secondary
      .container
        ul.nav.justify-content-center
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ПРОТЕИНИ
            .dropdown-menu.dropdown-menu-custom
              a.dropdown-item(href='#') Суроватъчни протеини
              a.dropdown-item(href='#') Растителни БИО протеини
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ВИТАМИНИ И МИНЕРАЛИ
            .dropdown-menu.dropdown-menu-custom
              a.dropdown-item(href='#') ВИТАМИНИ ЗА КОСА, КОЖА И НОКТИ
              a.dropdown-item(href='#') КАЛЦИИ, МАГНЕЗИИ, ЦИНК
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ФИТНЕС И БИО ХРАНИ
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') АМИНОКИСЕЛИНИ
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') ИЗГАРЯНЕ НА МАЗНИНИ  
            //- li.nav-item.dropdown
            //-   a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') КРЕАТИН
    .container.mt-4
      #carouselBanner.carousel.slide.mt-4(data-ride='carousel')
        ol.carousel-indicators
          li(data-target='#carouselBanner', data-slide-to='0', class='active')
          li(data-target='#carouselBanner', data-slide-to='1')
          li(data-target='#carouselBanner', data-slide-to='2')
          li(data-target='#carouselBanner', data-slide-to='3')
        .carousel-inner
          .carousel-item.active
            img(src='/images/banner.jpg', alt='First Slide')
            .carousel-caption
              //- h5 First Slide Title
              //- p First Slide Description
          .carousel-item
            img(src='/images/cookie.jpg', alt='Second Slide')
            .carousel-caption
              //- h5 Открийте хармонията на здравето с нашата избрана серия от Herbalife Nutrition продукти
          .carousel-item
            img(src='/images/elif.png', alt='Third Slide')
            .carousel-caption
              //- h5 Подобри тренировките с висококачествени добавки на специални цени! За всяка закупена протеинова смес - подарък предтренировъчен стимулант. Не пропускай!
          .carousel-item
            img(src='/images/herbb.webp',style="", alt='Fourth Slide')
            .carousel-caption
              //- h5 Fourth Slide Title
              //- p Fourth Slide Description
        a.carousel-control-prev(href='#carouselBanner', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselBanner', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

    
      h4 Fitness Supplements
      p Welcome to our selection of fitness supplements.
      .row
        each supplement in supplements
          .col-12.col-sm-6.col-md-4.col-lg-3.mb-4
            .card
              a(href=`/product/${supplement.id}`)
                img.card-img-top(src=supplement.img, alt=supplement.name).img-fluid
              .card-body
                h5.card-title #{supplement.name}
                p.card-text #{supplement.description}
                p.card-text Цена: #{supplement.price.toFixed(2)}лв
                .d-flex.flex-column.flex-sm-row
                  form(action='/todo/add-to-cart', method='post')
                    input(type='hidden', name='id', value=supplement.id)
                    button.btn.btn-primary.mb-2.mb-sm-0.mr-sm-2(type='submit')
                      i.fas.fa-shopping-cart
                      |  Купи
                  form(action='/favorites/add', method='post')
                    input(type='hidden', name='id', value=supplement.id)
                    button.btn.btn-outline-primary(type='submit')
                      i.fas.fa-heart

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='../javascript/todo2.js')

